.comment {
  margin-bottom: 120px;
}
.comment-title {
  color: #dc780b;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 12px;
}
.comment-text {
  color: #000;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-bottom: 23px;
}
.comment-par {
  max-width: 750px;
  color: #000000;
  opacity: 70%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 73px;
  line-height: 24px;
  text-align: center;
}
.img1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 42px;
}
.comment-par2 {
  color: #000000;
  max-width: 506px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 32px;
}
.comment-username {
  color: #000000;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: center;
}
.comment-job {
  color: #000000;
  opacity: 70%;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: center;
}
