.feature {
  margin-bottom: 100px;
}
.feature-titles {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 44px;
  gap: 10px;
}
.feature-title1 {
  color: #dc780b;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.2em;
  text-align: center;
}
.feature-title2 {
  color: #150c01;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
}
.feature-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}
.feature-card {
  max-width: 300px;
}
.feature-img {
  width: 88px;
  height: 88px;
  background: #8fa632;
  opacity: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 44px;
}
.feature-card img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.feature-text {
  color: #150c01;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 33px;
  font-size: 25px;
  font-weight: 700;
  line-height: 24px;
}
.feature-par {
  color: #150c01;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
