* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  margin-top: 100px;
}

@media (max-width: 1115px) {
  p,
  h1 {
    text-align: center !important;
  }
}
